# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [1]:
import pandas as pd

In [2]:
ecomm=pd.read_csv("Ecommerce Purchases.csv")

**Check the head of the DataFrame.**

In [3]:
ecomm.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\r\nSouth John, TN...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

** How many rows and columns are there? **

In [4]:
row=len(ecomm)
print("Number of rows is:",row)

Number of rows is: 10000

In [5]:
column=len(ecomm. columns)
print("Number of Column is:",column)

Number of Column is: 14

** What is the average Purchase Price? **

In [6]:
Average = ecomm["Purchase Price"].mean()
print("the average Purchase Price is:",Average)

the average Purchase Price is: 50.347302

** What were the highest and lowest purchase prices? **

In [7]:
max_val = ecomm["Purchase Price"]. max()
print("Highest Purchase Price is",max_val)

Highest Purchase Price is 99.99

In [8]:
min_val = ecomm["Purchase Price"]. min()
print("Lowest Purchase Price is:",min_val)

Lowest Purchase Price is: 0.0

** How many people have English 'en' as their Language of choice on the website? **

In [9]:
Language = ecomm.groupby(['Language'])['Language'].count()
print("all language detail are:",Language)

all language detail are: Language
de    1155
el    1137
en    1098
es    1095
fr    1097
it    1086
pt    1118
ru    1155
zh    1059
Name: Language, dtype: int64

In [10]:
en=len(ecomm[ecomm["Language"].str.contains("en")])
print("Peoples who use English as their language during search:",en)# there are 1098

Peoples who use English as their language during search: 1098

** How many people have the job title of "Lawyer" ? **

In [11]:
Lawyer=len(ecomm[ecomm["Job"].str.contains("Lawyer")])
print("Number of Peoples with Lawyer Job is:",Lawyer)

Number of Peoples with Lawyer Job is: 30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

In [12]:
AM=len(ecomm[ecomm["AM or PM"]=="AM"])
print(" Number of Peoples who Purchase in AM:",AM)

 Number of Peoples who Purchase in AM: 4932

In [13]:
PM=len(ecomm[ecomm["AM or PM"]=="PM"])
print(" Number of Peoples who Purchase in PM:",PM)

 Number of Peoples who Purchase in PM: 5068

** What are the 5 most common Job Titles? **

In [28]:
ecomm['Job'].value_counts().head(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [36]:
ecomm[['Lot','Purchase Price']] [ecomm['Lot'] =="90 WT"]

       Lot  Purchase Price
513  90 WT            75.1

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [38]:
ecomm[['Email','Credit Card']] [ecomm['Credit Card'] == 4926535242672853]

                             Email       Credit Card
1234  bondellen@williams-garza.com  4926535242672853

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [70]:
num_people=len(ecomm[(ecomm['Purchase Price'] >95) & (ecomm['CC Provider'] =='American Express')])
print("Number of people with PP > 95 nad CC with american express are:",num_people)

Number of people with PP > 95 nad CC with american express are: 39

** Hard: How many people have a credit card that expires in 2025? **

In [75]:
cc_ex=len(ecomm[(ecomm['CC Exp Date'] ==2025)])
print("Number of people where cc expires with 2025 is:",cc_ex)

Number of people where cc expires with 2025 is: 0

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [39]:
ecomm['Email'].value_counts().head(5)

leekathy@yahoo.com         2
joshua41@hotmail.com       2
christopher29@gmail.com    2
ethomas@hotmail.com        2
brownjohn@hotmail.com      2
Name: Email, dtype: int64

# Great Job!